fastapi
uvicorn
pydantic
pydantic-settings
pinecone-client
openai
httpx
python-dotenv
tenacity
tqdm
passlib[bcrypt]
python-jose[cryptography]
python-multipart
scikit-learn
pandas
joblib
transformers
datasets
torch
chromadb
sentence-transformers
SQLAlchemy
psycopg2-binary
pytesseract
pdfkit
networkx
SpeechRecognition
pydub
googletrans==4.0.0-rc1
Pillow
